<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twilio Texting Home</title>
</head>
<body>
    <h1>Send a text with Twilio!</h1>
    <form action="{{url_for ('send_sms') }}" method="POST">
        <div>
            <input type="text" name="phone" placeholder="Enter a phone number">
            <input type="text"  name="message" placeholder="Enter a text message">
            <input type="submit" value="Send a text">            
        </div>
    </form>
</body>
</html>